/* @media only screen and (max-width: 1200px){

} */

@media only screen and (min-width: 1025px) and (max-width: 1200px){
    #home-section > #date-counter > #counter{
        color: #fff;
        font-size: 4rem;
    }

    #home-section > #date-counter > h4{
      font-size: 1.2rem;
    }

    .slider{
      flex-direction: column;
      gap: 3rem;
    }

    .slider > a{
      width: 350px;
    }

    .department-img{
      height: 200px;
      width: 200px;
    }

    #rankings{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    
    #ranking-head{
      padding: 70px;
    }

    #ranking-img{
      width: 70%;
      height: 50%;
    }

    #acheivement-btn{
      bottom: 17.5%;
    }

    #contact-section{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8rem;
    }


    /* Avionics.html */
    #avioncis-intro > img{
      width: 400px;
    }

    .avionics-slider{
      gap: 6rem;
    }
    
    .avionics-slider > div{
      width: 250px;
    }

    .department-img{
      height: 250px;
      width: 250px;
      border-radius: 50%;
      display: block;
      margin: auto;
    }

    #juniors-box{
      gap: 5rem;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-top: 30px;
    }

    #seniors-box{
      padding-top: 30px;
    }


    /* Design.html */

    .design-intro{
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }

    .design-senior-box{
      gap: 3rem;
      flex-wrap: wrap;
    }

    .design-slider{
      flex-direction: column;
      gap: 0;
      margin-top: 10px;
    }

    .design-slider > div{
    margin-top: 30px;
    }

    .design-left-box{
      width: 100%;
      height: 40%;
    }

    .design-home-img{
      width: 100%;
      margin-bottom: 50px;
      display: block;
      margin: 80px auto;
    }

    #design-member > h1{
    padding-top: 120px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1024px){

  #logo-box > a{
    font-size: 1.8rem;
    color: #fff;
  }

  #home-section{
    flex-direction: column-reverse;
  }

  #home-section > #date-counter{
    min-height: 25vh;
    min-width: 100vw;
  }

  #team-info > div{
    font-size: 1.2rem;
  }

  #home-section > #team-info{
    padding-top: 60px;
    min-height: 60vh;
    min-width: 80%;
  }

  .slider{
    flex-direction: column;
    gap: 3rem;
  }

  .slider > a{
    width: 350px;
  }

  .department-img{
    height: 200px;
    width: 200px;
  }

  #ranking-head{
    padding: 70px;
  }

  #ranking-img{
    margin-top: 150px;
    width: 80%;
    height: 30%;
  }

  #contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
  }

  #contact-box > #map-section > iframe{
    height: 350px;
    width: 400px;
  }

  
  /* Avionics.html */

  #avioncis-intro{
    flex-direction: column-reverse;
  }

  #avionics-left-box{
    width: 100%;
    height: 55vh;
  }
  
  #avioncis-intro > img{
    width: 50%;
    height: 30vh;
    margin: 0;
    margin: auto;
    margin-top: 80px;
  }

  .avionics-slider{
    flex-direction: column;
    gap: 3rem;
  }
  
  .avionics-slider > div{
    width: 350px;
  }

  .avionics-depart > h1{
    padding: 60px;
  }

  #seniors-box{
    flex-wrap: wrap;
  }

  #juniors-box{
    flex-wrap: wrap;
  }

  .avionics-box{
    margin-top: 30px;
    margin-left: 50px;
  }

  /* Design.html */
  .design-slider{
      flex-direction: column;
      gap: 3rem;
      margin-top: 10px;
  }

  /* Achievements.html */

  .plane-box{
    width: 90%;
    gap: 2rem;
  }

  .plane-box > .plane-img{
    /* height: 150px; */
    width: 250px;
  }


}

@media only screen and (min-width: 320px) and (max-width: 767px){

  #logo-box > a{
    font-size: 1rem;
    padding-left: 10px;
  }

  #vaayu-logo{
    height: 40px;
    width: 40px;
  }

  .bx-menu:before{
    font-size: 30px;
  }

  #home-section{
    flex-direction: column-reverse;
  }

  #team-info > h1{
    font-size: 2rem;
    padding: 0;
  }

  #home-section > #date-counter{
    min-height: 25vh;
    min-width: 100vw;
  }

  #team-info > div{
    font-size: .85rem;
    margin: 0;
  }

  #home-section > #team-info{
    min-height: 60vh;
    min-width: 80%;
  }

  #home-section > #date-counter > #counter{
    color: #fff;
    font-size: 2.2rem;
  }

  #home-section > #date-counter > h4{
    font-size: 1rem;
    padding: 10px;
  }

  #our-department{
    height: auto;
  }

  .slider{
    flex-direction: column;
    gap: 3rem;
  }

  .slider > a{
    width: 250px;
  }

  .department-img{
    height: 150px;
    width: 150px;
  }

  #ranking-head{
    margin-top: 400px;
  }

  #ranking-img{
    margin-top: 150px;
    width: 80%;
    height: 30%;
  }

  #acheivement-btn{
    font-size: .8rem;
  }

  #contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  #contact-section > h1{
    margin-top: 320px;
  }

  #contact-section > #contact-box{
    flex-direction: column-reverse;
  }

  #contact-box > #map-section > iframe{
    height: 250px;
    width: 300px;
  }

  #contact-box > #contact-form{
    width: 100%;
  }

  #contact-box > #map-section{
    width: 100%;
    margin-bottom:30px ;
  }


  /* Avionics.html */

  #avioncis-intro{
    flex-direction: column-reverse;
  }

  #avionics-left-box{
    width: 100%;
    height: 55vh;
  }

  #avioncis-intro > img{
    width: 80%;
    height: 20%;
    margin: 0;
    margin: auto;
    margin-top: 80px;
  }

  .avionics-slider{
    flex-direction: column;
    gap: 4rem;
  }

  .avionics-slider > div{
    width: 250px;
  }

  #avionics-left-box{
    padding-left: 0px;
  }

  #avionics-left-box > h1{
    font-size: 3rem;
    text-align: center;
  }

  #avionics-left-box > h5{
    font-size: 1.3rem;
    padding: 0 10px;
    text-align: center;
  }

  #working{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #working > span{
    margin-top: 20px;
    font-size: 1rem;
    text-align: justify;
  }

  #seniors-box{
    flex-wrap: wrap;
  }

  #juniors-box{
    flex-wrap: wrap;
  }

  .avionics-box{
    margin-top: 30px;
  }

  /* Design.html */
  .design-slider{
      flex-direction: column;
      gap: 3rem;
      margin-top: 10px;
  }

  #design-member > h1{
    padding-top: 0;
  }

  .design-senior-box{
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    }

    /* Media.html */

    #media-intro{
      align-items: flex-start;
    }

    .media-left-box > #working > span{
      width: 90%;
    }


    /* Achievements.html */

    #achievements-head{
      font-size: 2rem;
    }

    .plane-box{
      width: 90%;
      gap: 2rem;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .plane-box > .plane-img{
      height: 150px;
      width: 250px;
      display: block;
      margin: auto;
    }

    .slide-in-left{
      flex-direction: column-reverse;
    }

    .plane-details > h3{
      text-align: center;
    }

  /* Support.html */
  #scanner-img > img{
    width: 250px;
    height: 250px;
  }

  #questions_and_ans{
    margin-top: 30px;
    width: 80%;
  }

}
